shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
onlyBuiltDependencies:
  - '@nestjs/core'
  - '@prisma/client'
  - '@prisma/engines'
  - argon2
  - prisma
  - msgpackr-extract
  - unrs-resolver
